hostname: "$hostname"
write_files: $write_files
init_cmd: $init_cmd
boot_cmd: $boot_cmd
run_cmd: $run_cmd
k3os:
  data_sources:
  modules:
    - wireguard
  sysctl:
    kernel.printk: 4 4 1 7
    kernel.kptr_restrict: 1
  ntp_servers:
    - 1.uk.pool.ntp.org
    - 2.uk.pool.ntp.org
    - 3.uk.pool.ntp.org
  dns_nameservers:
    - 1.1.1.1
    - 8.8.8.8
  # Rancher User PW
  password: "$k3os_password"
  token: $k3os_token
  server_url: $k3os_server_url
  k3s_args: $k3os_args_k3s_args
